<div ng-controller="warrant" class="container">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" data-target="#kreiraniNalozi"> Kreirani </a></li>
        <li><a data-toggle="tab" data-target="#poslatiNalozi"> Poslati </a> </li>
        <li><a data-toggle="tab" data-target="#primljeniNalozi"> Primljeni </a></li>
    </ul>

    <div class="tab-content">
        <div id="kreiraniNalozi" class="tab-pane fade is active" ng-click="getKreirani()">
            <!--
           <table class="table table-bordered">
               <thead>
                   <tr>
                       <th>Primalac</th>
                       <th>Svrha</th>
                       <th>Iznos</th>
                       <th>Hitno</th>
                       <th>Datum</th>
                   </tr>
               </thead>
               <tbody>
                   <tr ng-repeat="warrant in warrants | orderBy warrant.primalac" ng-click="details(warrant)">
                       <th>warrant.primalac</th>
                       <th>warrant.svrhaPlacanja</th>
                       <th>warrant.iznos</th>
                       <th>warrant.hitno</th>
                       <th>warrant.datum</th>
                   </tr>
               </tbody>
           </table>
           -->

            <button class="btn btn-sm btn-success" ng-click="newWarrant()"> Kreiraj Nalog </button>

        </div>

        <div id="poslatiNalozi" class="tab-pane fade" ng-click="getPoslati()">
            <!--
                 <table class="table table-bordered">
                     <thead>
                         <tr>
                             <th>Primalac</th>
                             <th>Svrha</th>
                             <th>Iznos</th>
                             <th>Hitno</th>
                             <th>Datum</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="warrant in sentWarrant | orderBy warrant.primalac" ng-click="details(warrant)">
                             <th>warrant.primalac</th>
                             <th>warrant.svrhaPlacanja</th>
                             <th>warrant.iznos</th>
                             <th>warrant.hitno</th>
                             <th>warrant.datum</th>
                         </tr>
                     </tbody>
                 </table>
                 -->

        </div>

        <div id="primljeniNalozi" class="tab-pane fade" ng-click="getPrimljeni()">
            <!--
                 <table class="table table-bordered">
                     <thead>
                         <tr>
                             <th>Primalac</th>
                             <th>Svrha</th>
                             <th>Iznos</th>
                             <th>Hitno</th>
                             <th>Datum</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr ng-repeat="warrant in receivedWarrant | orderBy warrant.primalac" ng-click="details(warrant)">
                             <th>warrant.primalac</th>
                             <th>warrant.svrhaPlacanja</th>
                             <th>warrant.iznos</th>
                             <th>warrant.hitno</th>
                             <th>warrant.datum</th>
                         </tr>
                     </tbody>
                 </table>
                 -->

        </div>


    </div>

</div>